
#banner-index .titulo {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: default;
}

#banner-index .texto {
    font-size: 20px;
    line-height: 1.5;
    color: #999898;
    transition: 1s;
    cursor: default;
}

#banner-index:hover .texto {
    color: white;
    transition: 1s;
    cursor: default;
}

.scroll-down-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: #fff;
    animation: floating 2s infinite ease-in-out;
    cursor: default;
}

@keyframes floating {

    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(-15px);
    }
}

.animated-graphic img {
    max-width: 80%;
    animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.banner-right {
    display: none;
}





.carousel-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.section-arrow--gray {
    border-color: rgba(48, 54, 58, .95) #fff #fff;
}

.section-arrow {
    border-style: solid;
    border-color: #ffffff transparent transparent;
    border-width: 30px 30vw 0;
    max-width: 100%;
}

.section-arrow2 {
    border-style: solid;
    border-color: transparent white;
    border-width: 30px 30vw 0px;
    max-width: 100%;
}


.carousel-caption {
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption a {
    padding: 10px 15px;
    font-size: 15px;
}

.carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 16px;
    margin: auto;
}


.aprobado {
    margin-top: 20px;
}

.aprobado .logosaprobacion {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.aprobado img {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    height: 40px;
    padding: 5px 10px 5px 10px;
}

.destacados-bg {
    background-image: url('../images/bg/bgdestacados.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.destacados-bg .destacados-content {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.destacados .contenedor-destacados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destacados .section-title {
    padding-top: 20px;
    color: white;
}

.destacados .line {
    background-color: white;
}

.destacados .contenedor-destacados .card {
    height: 480px;
    color: black;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    transition: 0.2s;
}

#paqueteCompleto {
    background: rgba(255, 217, 0, 0.671);
    transition: 0.2s;

}

#paqueteCompleto:hover {
    background: #FFD700;
    transform: scale(1.05);

}


.destacados .contenedor-destacados .card:hover {
    color: black;
    background-color: white;
    transform: scale(1.05);
}

.destacados .contenedor-destacados .card .card-text {
    text-align: justify;
}

.destacados .contenedor-destacados .card h5 {
    font-weight: 700;
}

.contenedor-destacados .botonMas {
    margin-bottom: 10px;
}

.contenedor-destacados .botonMas a {
    width: 96.66px;
}

.eligenos .cualidades i {
    font-size: 36px;
    color: #003f70;
}




.video-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;

    width: 500px;
    height: 300px;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}



.nosotros {
    color: white;
}

.nosotros .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros .section-title {
    color: white;
}

.nosotros .line {
    background-color: white;
}

.nosotros-bg {
    background-image: url('../images/bg/bgnosotros.webp');
    background-size: cover;
    background-attachment: fixed;
}

.nosotros-bg .nosotros-content {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contactanos .titulo {
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    #banner-index .titulo {
        font-size: 70px;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: default;
    }
    #banner-index .texto {
        font-size: 24px;
        line-height: 1.5;
        color: #999898;
        transition: 1s;
        cursor: default;
    }
    .destacados .contenedor-destacados {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .destacados .contenedor-destacados .card {
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media only screen and (min-width: 960px) {
    #banner-index .titulo {
        font-size: 70px;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: default;
    }
    #banner-index .texto {
        font-size: 24px;
        line-height: 1.5;
        color: #999898;
        transition: 1s;
        cursor: default;
    }
    .nosotros-content {
        padding-top: 40px;
        padding-bottom: 30px;
    }

}

@media only screen and (min-width: 1060px) {


    #banner-index .titulo {
        font-size: 70px;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: default;
    }
    #banner-index .texto {
        font-size: 24px;
        line-height: 1.5;
        color: #999898;
        transition: 1s;
        cursor: default;
    }

    .carousel-caption h5 {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
    }

    .carousel-caption a {
        padding: 12px 18px;
        font-size: 15px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 16px;
        margin: auto;
    }

    .aprobado {
        text-align: center;
        margin-left: 0px;
    }

    .aprobado .contenedorIMG {
        margin-left: 20px;
        margin-right: 20px;
    }

    .destacados .contenedor-destacados .card {
        background-color: rgba(255, 255, 255, 0.788);
        color: rgb(0, 0, 0);
    }

}