
.licencia-recomendacion-contenedor {
    background-color: rgba(165, 165, 165, 0.192);
    transition: 1s;
}
.licencia-recomendacion-contenedor:hover {
    background-color: rgba(165, 165, 165, 0.534);
}


.licencia-recomendacion .titulo {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.licencia-recomendacion {
    text-align: center;
}

@media only screen and (min-width: 768px) {

    .recomendacion-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .licencia-recomendacion {
        padding-left: 100px;
        padding-right: 100px;
    }

}

@media only screen and (min-width: 1060px) {}