.contenedor-servicios .titulo {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contenedor-servicios .card {
    text-align: center;
    margin-bottom: 10px;
}

.contenedor-servicios .card .card-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-servicios img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    border-radius: 20px;
}


.servicio-recomendacion-contenedor {
    background-color: rgba(165, 165, 165, 0.192);
    transition: 1s;
}
.servicio-recomendacion-contenedor:hover {
    background-color: rgba(165, 165, 165, 0.534);
}


.servicio-recomendacion .titulo {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.servicio-recomendacion {
    text-align: center;
}

@media only screen and (min-width: 768px) {

    .recomendacion-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .servicio-recomendacion {
        padding-left: 100px;
        padding-right: 100px;
    }

}


@media only screen and (min-width: 768px) {
    .contenedor-servicios .card {
        margin-bottom: 20px;
        border-radius: 20px;
        border-style: none;
        transition: 0.5s;
    }

    .contenedor-servicios .card:hover {
        box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.151);
        border-width: 1px;
        transform: scale(1.05);
    }

    .banner-bg-texto .titulo {
        font-size: 24px;
        letter-spacing: 2px;
        margin-top: 25px;
    }

    .banner-bg-texto p {
        width: 100%;
        line-height: 1.6;
        font-size: 16px;
        margin: auto;
    }
}